/* 1.0 Typography */
/* line 4, ../sass/_typography.scss */
body {
  color: #333333;
  font: 93.75%/1.6em Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 7, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0 0 1em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* line 8, ../sass/_typography.scss */
h1 {
  font-size: 2em;
}

/* line 9, ../sass/_typography.scss */
h2 {
  font-size: 1.5em;
}

/* line 10, ../sass/_typography.scss */
h3 {
  font-size: 1.333em;
}

/* line 11, ../sass/_typography.scss */
h4 {
  font-size: 1.2em;
  font-weight: bold;
}

/* line 12, ../sass/_typography.scss */
h5 {
  font-size: 1.0666em;
  font-weight: bold;
  margin-bottom: 0;
}

/* line 13, ../sass/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
}

/* line 16, ../sass/_typography.scss */
p {
  margin-bottom: 1.5em;
}

/* line 17, ../sass/_typography.scss */
p.leftalign {
  text-align: left;
}

/* line 18, ../sass/_typography.scss */
p.centeralign {
  text-align: center;
}

/* line 19, ../sass/_typography.scss */
p.rightalign {
  text-align: right;
}

/* line 20, ../sass/_typography.scss */
address {
  font-style: normal;
  margin-bottom: 1.5em;
}

/* line 21, ../sass/_typography.scss */
blockquote {
  margin: 0 0 0 2em;
  padding-bottom: 1.8em;
}

/* line 22, ../sass/_typography.scss */
blockquote p {
  margin-bottom: 0.75em;
}

/* line 25, ../sass/_typography.scss */
ul, ol {
  margin: 0 0 1.5em 2em;
}

/* line 26, ../sass/_typography.scss */
ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0;
}

/* line 27, ../sass/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}

/* line 28, ../sass/_typography.scss */
dt {
  font-weight: bold;
}

/* line 29, ../sass/_typography.scss */
dd {
  margin: 0 0 1.5em 2em;
}

/* line 30, ../sass/_typography.scss */
dd ul, dd ol {
  margin-left: 0;
}

/* line 32, ../sass/_typography.scss */
nav ul {
  margin: 0;
}

/* line 33, ../sass/_typography.scss */
nav ul li {
  margin: 0;
  padding: 0;
}

/* line 34, ../sass/_typography.scss */
nav ul ul {
  margin-left: 1.5em;
}

/* line 37, ../sass/_typography.scss */
a {
  text-decoration: none;
}

/* line 38, ../sass/_typography.scss */
a:link {
  color: #44889F;
}

/* line 39, ../sass/_typography.scss */
a:visited {
  color: #44889F;
}

/* line 40, ../sass/_typography.scss */
.no-touch a:hover {
  color: #A62A32;
}

/* line 41, ../sass/_typography.scss */
a:active {
  color: #44889F;
}

/* line 44, ../sass/_typography.scss */
img {
  max-width: 100%;
  height: auto !important;
}

/* line 45, ../sass/_typography.scss */
.alignleft,
.alignright,
.aligncenter {
  display: block;
  width: auto;
  margin: 0 auto 1.5em;
}

/* mobile-first: center everything; we'll align stuff later in the media queries */
/* line 50, ../sass/_typography.scss */
th, td {
  padding: 10px;
}

/* line 53, ../sass/_typography.scss */
input, select, textarea {
  border: 1px solid #CCCCCC;
  color: #333333;
  padding: 0.5em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  outline: 0;
}

/* line 54, ../sass/_typography.scss */
input:focus, select:focus, textarea:focus {
  border-color: #333333;
}

/* line 55, ../sass/_typography.scss */
input[type="checkbox"], input[type="radio"], input[type="submit"], input[type="image"] {
  width: auto;
}

/* line 56, ../sass/_typography.scss */
input[type="image"] {
  border: 0;
  outline: invert none medium;
}

/* line 57, ../sass/_typography.scss */
input[type="search"] {
  -webkit-appearance: none;
  moz-appearance: none;
}

/* line 58, ../sass/_typography.scss */
input, select {
  max-width: 400px;
}

/* line 59, ../sass/_typography.scss */
fieldset {
  margin: 2em 0;
  border-color: #CCCCCC;
}

/* line 60, ../sass/_typography.scss */
legend {
  font: 1.333em Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333;
  border: 1px solid #CCCCCC;
  padding: 2px 15px;
  background: #EEEEEE;
}

/* line 61, ../sass/_typography.scss */
legend + * {
  -webkit-margin-top-collapse: separate;
}

/* line 62, ../sass/_typography.scss */
.form-type-checkbox label, .form-type-radio label {
  color: #999999;
}

/* line 63, ../sass/_typography.scss */
input.form-checkbox:checked + label, input.form-radio:checked + label {
  color: #333333;
}

/* line 64, ../sass/_typography.scss */
input[type="submit"], button, a.button {
  background: #EEEEEE;
  border-radius: 0;
  color: #333333;
  padding: 0.5em 1em;
  margin-right: 1em;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

/* line 74, ../sass/_typography.scss */
.no-touch input[type="submit"]:hover, .no-touch button:hover, .no-touch a.button:hover {
  background: #CCCCCC;
}

@media screen and (min-width: 768px) {
  /* line 80, ../sass/_typography.scss */
  .alignleft {
    float: left;
    margin: 0 20px 20px 0;
    max-width: 50%;
  }

  /* line 81, ../sass/_typography.scss */
  .alignright {
    float: right;
    margin: 0 0 20px 20px;
    max-width: 50%;
  }

  /* line 82, ../sass/_typography.scss */
  .aligncenter {
    display: block;
    width: auto;
    margin: 0 auto 1.5em;
  }
}
/* 2.0 Structure */
/* line 1, ../sass/_structure.scss */
html, body {
  height: 100%;
}

/* line 2, ../sass/_structure.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #CCCCCC;
  color: #333333;
  padding: 0.2em 0;
}

/* line 3, ../sass/_structure.scss */
#wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  left: 0;
  right: 0;
  z-index: 5;
  background: #fff;
  overflow-x: visible;
}

/* Assistive text */
/* line 7, ../sass/_structure.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

/* line 12, ../sass/_structure.scss */
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  line-height: normal;
  padding: 15px 23px 14px;
  position: absolute;
  left: 5px;
  top: 5px;
  text-decoration: none;
  text-transform: none;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* line 33, ../sass/_structure.scss */
.hide {
  display: none;
}

/* simple clearfix */
/* line 39, ../sass/_structure.scss */
.clearfix:before, .clearfix:after {
  content: '';
  display: table;
  clear: both;
}

/* 3.0 Headers and Highlighted */
/* line 4, ../sass/_headers.scss */
#header {
  position: relative;
}

/* line 5, ../sass/_headers.scss */
#header #logo img {
  display: block;
}

/* 4.0 Navigation */
/* line 3, ../sass/_navigation.scss */
nav ul {
  margin: 0;
}

/* line 4, ../sass/_navigation.scss */
#navigation {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 5, ../sass/_navigation.scss */
.navigation-header {
  cursor: pointer;
}

/* line 7, ../sass/_navigation.scss */
.main-menu ul li.menu-dismiss {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2em;
  cursor: pointer;
}

/* line 8, ../sass/_navigation.scss */
.main-menu ul li.menu-dismiss:before {
  content: '\f05c';
}

/* line 9, ../sass/_navigation.scss */
#navigation .main-menu ul {
  position: absolute;
  left: -999em;
  margin: 0;
}

/* line 10, ../sass/_navigation.scss */
#navigation .main-menu ul.open {
  position: relative;
  left: auto;
}

/* line 11, ../sass/_navigation.scss */
#navigation .main-menu li ul {
  clear: both;
  padding: 0 1em;
}

/* line 12, ../sass/_navigation.scss */
#navigation .main-menu ul li {
  padding: 0;
}

/* line 13, ../sass/_navigation.scss */
#navigation .main-menu ul li a, #navigation .main-menu ul li span.nolink, #navigation .main-menu ul li span.separator {
  display: block;
  padding: 0.5em 1em;
  line-height: 1em;
}

/* line 14, ../sass/_navigation.scss */
#navigation .main-menu ul li.page_item_has_children > a, #navigation .main-menu ul li.page_item_has_children > span.nolink,
#navigation .main-menu ul li.menu-item-has-children > a, #navigation .main-menu ul li.menu-item-has-children > span.nolink {
  float: left;
  padding-right: 0.25em;
  cursor: pointer;
}

/* line 16, ../sass/_navigation.scss */
#navigation .main-menu ul li.page_item_has_children:after,
#navigation .main-menu ul li.menu-item-has-children:after {
  content: '';
  display: table;
  clear: both;
}

/* line 18, ../sass/_navigation.scss */
#navigation .main-menu ul li.page_item_has_children ul,
#navigation .main-menu ul li.menu-item-has-children ul {
  clear: both;
}

/* line 20, ../sass/_navigation.scss */
#navigation .main-menu ul li .menu-toggle {
  float: right;
  display: block;
  font-size: 1.333em;
  line-height: 0.5em;
  margin: 0.5em 0;
  padding: 0 1em 0 0.33333em;
  cursor: pointer;
}

/* line 21, ../sass/_navigation.scss */
#navigation .main-menu ul li .menu-toggle.closed:before {
  content: '\f0d7';
}

/* line 22, ../sass/_navigation.scss */
#navigation .main-menu ul li .menu-toggle.open:before {
  content: '\f0d8';
}

/* line 24, ../sass/_navigation.scss */
#navigation ul.main-menu span.separator hr {
  margin: 0;
  border-color: #CCCCCC;
}

/* line 26, ../sass/_navigation.scss */
.mobile-style-default #navigation .main-menu > ul {
  position: fixed;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: -300px;
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  z-index: 500;
  background: #EEEEEE;
  font-size: 1.6em;
  padding-top: 40px;
}

/* line 27, ../sass/_navigation.scss */
.mobile-style-default #navigation .main-menu ul li a,
.mobile-style-default #navigation .main-menu ul li span.nolink,
.mobile-style-default #navigation .main-menu ul li span.separator {
  padding: 0.5em 0.8333em;
}

/* line 30, ../sass/_navigation.scss */
.mobile-style-default #navigation .main-menu ul li .menu-toggle {
  padding-right: 0.8333em;
}

/* line 31, ../sass/_navigation.scss */
.mobile-style-default #navigation .main-menu ul li {
  border-bottom: 1px solid #CCCCCC;
}

/* line 32, ../sass/_navigation.scss */
.mobile-style-default #navigation .main-menu li ul li {
  border-bottom: none;
}

/* line 33, ../sass/_navigation.scss */
.mobile-style-default #navigation .main-menu ul li.first {
  padding-right: 2em;
}

/* line 34, ../sass/_navigation.scss */
.mobile-style-default #navigation .main-menu ul li.menu-dismiss {
  font-size: 1.5em;
  border-bottom: none;
}

/* line 35, ../sass/_navigation.scss */
.mobile-style-default #navigation .main-menu > ul.open {
  left: 0;
}

/* line 36, ../sass/_navigation.scss */
.mobile-style-default #navigation .main-menu ul span.separator hr {
  border-width: 3px;
}

/* line 38, ../sass/_navigation.scss */
.mobile-style-basic .main-menu ul li.menu-dismiss {
  display: none;
}

@media screen and (min-width: 768px) {
  /* line 42, ../sass/_navigation.scss */
  #navigation {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* line 43, ../sass/_navigation.scss */
  #navigation .navigation-header {
    position: absolute;
    left: -999em;
  }

  /* line 44, ../sass/_navigation.scss */
  #navigation .main-menu > ul {
    background: #EEEEEE;
    z-index: 500;
    position: relative;
    left: auto;
  }

  /* line 45, ../sass/_navigation.scss */
  #navigation .main-menu > ul:after {
    content: '';
    display: table;
    clear: both;
  }

  /* line 46, ../sass/_navigation.scss */
  .main-menu ul li.menu-dismiss {
    display: none;
  }

  /* line 47, ../sass/_navigation.scss */
  #navigation .main-menu ul li {
    position: relative;
  }

  /* line 48, ../sass/_navigation.scss */
  #navigation ul li {
    float: left;
    padding: 0;
  }

  /* line 49, ../sass/_navigation.scss */
  #navigation li ul li {
    float: none;
  }

  /* line 50, ../sass/_navigation.scss */
  #navigation .main-menu li ul {
    position: absolute;
    left: -999em;
    top: 2em;
    width: 100%;
    background: #EEEEEE;
    z-index: 500;
  }

  /* line 51, ../sass/_navigation.scss */
  #navigation .main-menu li ul.open {
    position: absolute;
    left: auto;
    padding: 0;
  }

  /* line 52, ../sass/_navigation.scss */
  #navigation .main-menu ul li .menu-toggle {
    margin-top: 0.6em;
  }

  /* line 53, ../sass/_navigation.scss */
  #navigation .main-menu li ul li .menu-toggle.closed:before {
    content: "\f0da";
  }

  /* line 54, ../sass/_navigation.scss */
  #navigation .main-menu li ul li .menu-toggle.open:before {
    content: "\f0d9";
  }

  /* line 55, ../sass/_navigation.scss */
  #navigation .main-menu li li ul.open {
    left: 100%;
    top: 0;
  }

  /* line 56, ../sass/_navigation.scss */
  #navigation .main-menu > ul > li > span.separator {
    padding: 0;
    margin: 0.25em 0;
    height: 1.6em;
    border-left: 1px solid #CCCCCC;
  }

  /* line 58, ../sass/_navigation.scss */
  .mobile-style-default #navigation .main-menu > ul {
    width: auto;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    overflow: visible;
    font-size: 1em;
    padding-top: 0;
  }

  /* line 59, ../sass/_navigation.scss */
  .mobile-style-default #navigation .main-menu ul li {
    border-bottom: none;
  }

  /* line 60, ../sass/_navigation.scss */
  .mobile-style-default #navigation .main-menu ul li.first {
    padding-right: 0;
  }

  /* line 61, ../sass/_navigation.scss */
  .mobile-style-default #navigation .main-menu > ul.open {
    left: auto;
  }

  /* line 62, ../sass/_navigation.scss */
  .mobile-style-default #navigation .main-menu ul li a,
  .mobile-style-default #navigation .main-menu ul li span.nolink,
  .mobile-style-default #navigation .main-menu ul li span.separator {
    padding: 0.5em 1em;
  }

  /* line 65, ../sass/_navigation.scss */
  .mobile-style-default #navigation .main-menu ul li .menu-toggle {
    padding-right: 1em;
  }

  /* line 66, ../sass/_navigation.scss */
  .mobile-style-default #navigation .main-menu ul li.page_item_has_children > a,
  .mobile-style-default #navigation .main-menu ul li.page_item_has_children > span.nolink,
  .mobile-style-default #navigation .main-menu ul li.menu-item-has-children > a,
  .mobile-style-default #navigation .main-menu ul li.menu-item-has-children > span.nolink {
    padding-right: 0.25em;
  }

  /* line 70, ../sass/_navigation.scss */
  .mobile-style-default #navigation .main-menu > ul > li > span.separator {
    padding: 0;
  }

  /* line 71, ../sass/_navigation.scss */
  .mobile-style-default #navigation .main-menu ul span.separator hr {
    border-width: 1px;
  }
}
/* 5.0 Content */
/* 6.1 Posts */
/* line 5, ../sass/_content.scss */
#primary .post {
  margin-bottom: 4em;
}

/* 6.2 Comments */
/* 6.3 content formatting for specific pages */
/* 6.4 Miscellaneous */
/* 6.5 Media Queries */
/* 6.0 Sidebars */
/* line 3, ../sass/_sidebars.scss */
.sidebar .widget {
  margin-bottom: 2em;
}

/* 7.0 Footers */
/* line 3, ../sass/_footers.scss */
#footer-wrapper.fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  /* line 8, ../sass/_footers.scss */
  .utility-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* line 9, ../sass/_footers.scss */
  #utility {
    position: relative;
  }

  /* line 10, ../sass/_footers.scss */
  #utility .widget {
    position: absolute;
  }
}
/* 8.0 Reveals and Modals */
/* line 3, ../sass/_modals.scss */
#modals-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background: rgba(255, 255, 255, 0.8);
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  z-index: 314159;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 4, ../sass/_modals.scss */
.modal-open #modals-wrapper {
  opacity: 1;
}

/* line 5, ../sass/_modals.scss */
.modal-dismiss.primary {
  position: absolute;
  top: 6px;
  right: 10px;
  cursor: pointer;
  font-size: 2em;
}

/* line 6, ../sass/_modals.scss */
.modal-dismiss.primary:before {
  content: '\f05c';
}

/* line 8, ../sass/_modals.scss */
#modals .widget {
  display: none;
  background: #fff;
}

/* line 9, ../sass/_modals.scss */
.modal-open #modals .widget {
  opacity: 1;
}

/* line 10, ../sass/_modals.scss */
#modals .widget > h2 {
  background: #CCCCCC;
  margin: 0;
  padding: 10px 40px 10px 20px;
}

/* line 11, ../sass/_modals.scss */
#modals .widget > *:not(h2) {
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #CCCCCC;
}

/* line 12, ../sass/_modals.scss */
#modals .widget > ul {
  list-style: none outside none;
}

/* line 14, ../sass/_modals.scss */
.modal-open {
  overflow: hidden;
}

/* line 16, ../sass/_modals.scss */
.reveal {
  z-index: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #CCCCCC;
  width: 300px;
  padding-top: 30px;
}

/* line 17, ../sass/_modals.scss */
#reveal-left-wrapper {
  left: 0;
}

/* line 18, ../sass/_modals.scss */
#reveal-right-wrapper {
  right: 0;
}

/* line 19, ../sass/_modals.scss */
body {
  width: 100%;
  overflow-x: hidden;
}

/* line 20, ../sass/_modals.scss */
#wrapper {
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

/* line 21, ../sass/_modals.scss */
.reveal-left, .reveal-right {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 22, ../sass/_modals.scss */
.reveal-left #wrapper {
  left: 300px;
}

/* line 23, ../sass/_modals.scss */
.reveal-left #reveal-left-wrapper {
  z-index: 1;
}

/* line 24, ../sass/_modals.scss */
.reveal-right #wrapper {
  left: -300px;
}

/* line 25, ../sass/_modals.scss */
.reveal-right #reveal-right-wrapper {
  z-index: 1;
}

/* line 26, ../sass/_modals.scss */
.reveal-left.reveal-right #wrapper {
  left: 0;
}

/* line 27, ../sass/_modals.scss */
.reveal-dismiss.primary {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 2.4em;
}

/* line 28, ../sass/_modals.scss */
.reveal-dismiss.primary:before {
  content: '\f05c';
}

/* line 29, ../sass/_modals.scss */
.reveal .widget {
  display: none;
}

/* line 30, ../sass/_modals.scss */
.reveal .widget > h2 {
  padding: 10px 20px;
}

/* line 31, ../sass/_modals.scss */
.reveal .widget > *:not(h2) {
  margin: 0;
  padding: 10px 20px;
}

/* line 32, ../sass/_modals.scss */
.reveal .widget > ul {
  list-style: none outside none;
}

/* line 34, ../sass/_modals.scss */
.admin-bar .reveal {
  padding-top: 59px;
}

/* line 35, ../sass/_modals.scss */
.admin-bar .reveal-dismiss.primary {
  top: 34px;
}

@media screen and (min-width: 768px) {
  /* line 39, ../sass/_modals.scss */
  .modal-dismiss.primary {
    position: fixed;
    top: 25px;
    right: 30px;
    font-size: 2.6667em;
  }

  /* line 40, ../sass/_modals.scss */
  #modals .widget {
    width: 600px;
    margin: 30px auto;
  }

  /* line 41, ../sass/_modals.scss */
  #modals .widget > h2 {
    padding: 10px 20px 9px;
  }

  /* line 42, ../sass/_modals.scss */
  #modals .widget > *:not(h2) {
    margin: 0;
    padding: 10px 19px;
    border: 1px solid #CCCCCC;
  }

  /* line 44, ../sass/_modals.scss */
  .reveal {
    padding-top: 40px;
  }
}
/* 9.0 IE Fixes */
/* line 3, ../sass/_ie_fixes.scss */
html.lt-ie8 #header-wrapper, html.lt-ie8 #main-wrapper, html.lt-ie8 #footer-wrapper {
  position: relative;
  z-index: 0;
}

/* line 4, ../sass/_ie_fixes.scss */
html.lt-ie8 input[type="text"], html.lt-ie8 input[type="password"], html.lt-ie8 select, html.lt-ie8 textarea {
  width: 90%;
}

/* line 5, ../sass/_ie_fixes.scss */
html.lt-ie8 #navigation li ul.main-menu.dropped {
  left: 0;
}

/* line 6, ../sass/_ie_fixes.scss */
html.lt-ie9 img {
  max-width: none;
}
