// footers

#footer-wrapper.fixed { position: fixed; left: 0; right: 0; bottom: 0; }

// iPad in portrait mode or larger
@media screen and (min-width: 768px) {
	// move utility region to top of the page
	.utility-wrapper { position: absolute; top: 0; left: 0; width: 100%; }
	#utility { position: relative; }
	#utility .widget { position: absolute; }
}
